<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Reddit Scrape</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Saved Posts</a>
      </li>
    </ul>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#modal">Scrape Posts!</button>
  </div>
</nav>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Scrape Posts!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body center-content">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2 modal-url-container">
                <input id="navSearch" type="search" class="form-control url-field" placeholder="r/Bitcoin" aria-label="Search">
            </div>
        </form>
        <button id="nav" type="submit" class="btn btn-primary mb-2">Scrape!</button>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4">Scrape all the Things!</h1>
  <p class="lead">This is a simple scraper for Reddit. Simply specify the particular subreddit that you'd like to scrape (e.g., r/Bitcoin) and we'll take care of the rest.</p>
  <hr class="my-4">
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 url-container">
        <input id="jumboSearch" type="search" class="form-control url-field" placeholder="r/Bitcoin" aria-label="Search">
    </div>
    <button id="jumbo" type="submit" class="btn btn-primary mb-2">Scrape the Sub!</button>
  </form>
</div>

<h1>Home Test</h1>

<link href="./stylesheets/home.css" rel="stylesheet">
<script type="text/javascript" src="./js/home.js"></script>