.url-container {
    width: 40% !important;
}

.modal-url-container {
    width: 95% !important;
}

.url-field {
    width: 100% !important;
}

.center-content {
    text-align: center;
}

.res-item {
    padding: 10px 0;
    text-align: center;
    margin-top: 15px;
    background: lavender;
}

.give-space {
    margin-left: 10px;
}

.nothing {
    margin: 75px auto;
}